/* Ensure the SVG scales properly */
.svg-background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    max-width: 100vw;
    max-height: 100vh;
}

/* Ensure the parent containers take the full height */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
}

#root {
    height: 100%;
    position: relative; /* Ensure relative positioning for absolute SVG */
}

.btn-language {
    padding: 3px;
}
